body { 
    color: red;
    background: darkblue;
    font: normal 16px arial;
  }
  
  img {
  transform: rotate(90deg);
  
  }
  
  .black-border {
      border: 5px solid black;
  }
  
  #green-background {
      background-color: green;
  }