body { 
    color: red;
    background: darkblue;
    font: normal 16px arial;
}

form {
    border: 5px solid black;
    padding: 5px;
}
  
.black-border {
    border: 5px solid black;
}

.blogpost {
    width: 300px;
    border: 1px solid black;
}

.blogpost-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
}
  
#green-background {
    background-color: green;
}

@media (min-width: 320px) {
    body {
        font-size: 10px;
    }
}
  
@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
}
  
@media (min-width: 1024px) {
    body {
        font-size: 30px;
    }
}